@import "tailwindcss";

.montserrent {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #163b25;
    color: black;
    transition: all 0.3s ease;
}

body.dark {
    background-color: black;
    color: black;
    transition: all 0.3s ease;
}
.star{
    padding: 15px 40px 15px 131px;
}